.chatContainer {
    align-self: center;
    justify-self: center;
    background-color: #E6E6E6;
    color: rgb(230, 230, 230);
    border-radius: 10px;
    margin: 1em;
    height: 400px;
}

.chatTitle {
    width: 80%;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    background-color: #3F3D56;
    border-radius: 100px;
}

.outgoing {
    align-self: flex-end;
    background-color: #297373;
}

.message {
    color: #E6E6E6;
    margin-top: .25em;
    margin-bottom: .25em;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 300px;
    overflow: auto;
}

.x {
    align-items: flex-end;
    margin-bottom: 10px;
    margin-left: 5px;
}



button.Button__button___vS7Mv {
    background-color: #0000;
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/attachment.svg");
}
button.Button__button___vS7Mv:active {
    background-color: rgba(0, 0, 0, 0.5);

}