div > video.ch-video {
  position: relative !important;
  max-height: 300px;
  width: auto;
  max-width: 100%;
}

.video-container {
  object-fit: contain;
  height: 70%;
  display: flex;
  flex-direction: column;
}
